<body>
<main>

        <h2>You selected the following</h2>
        <ul>
            <li>Item: {{this.item}}</li>
            <li>Cost: {{this.cost}}</li>
            <li>Extras:
                    {{this.extras}}
                </li>
        </ul>
        No products to display

</main>
</body>