
<body>
<label for="items"></label><select name="item" id="items">
    <option value="burger">Burger</option>
    <option value="pizza">Pizza</option>
    <option value="hotdog">Hot dog</option>
    <option value="taco">Taco</option>
</select>

</body>
</html>