<main>
    <div class="container">
        <div class="row md-col-6">
<!---->
        </div>
        <div class="row md-col-3">
            <h2>Wrong Left</h2>
            <form action="/show-hint" method="post">
                <button type="button" class="btn btn-danger">Show Hint</button>
            </form>
            <h2>New Game</h2>
            <form action="/new-game" method="post">
                <button type="button" class="btn btn-danger">Start New Game</button>
            </form>
        </div>
        <div class="row md-col-3">
<!--            -->
        </div>
    </div>
</main>