#logo{
    width:150px;
    padding: 10px;
}
#header{
    background-color: black;
}
#headingTitle{
    font-size: 70px;
    color: #e66c2c;
}
main{
    background-color: #5d8698;
}
#leftBody{
    padding-left: 100px;
}

#submitButton{
    background-color: #14322B;
    color: #AB8D5A;
}

#cardPic{
    width: 400px;
}
#footer{
    background-color: #14322B;
    color: #C7B8BA;
}
@media (max-width: 700px){
    #headingTitle{
        font-size: 10vw;
    }
}
