<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> Harry's Hamburger Heaven </h2>
  <form action="showResults" method="post">
<!--    Item: <input name="item" />-->
    <select name="item">
        {{#each items}}
            <option value="{{this}}"> {{this}}</option>
        {{/each}}
    </select>
    <button type="submit"/> Click </button>
  </form>
</body>
</html>