body{
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    padding:0;
    background-color: #fcf4d9;
}
header {
    height:130px;
    background-color: #d55b3e;

}
#theLogo{
    height: 112px;
    width: 112px;
    float: left;
    padding-left: 10px;
    padding-top: 10px
}
.mainArea{
    position: relative;
    margin-left: 30%;
}
#aboutMain{
    border: black 1px solid;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 30px;
    border-collapse: collapse;
}
.mainTable, th, td{
    border: 1px solid;
    border-collapse: collapse;
}
#mainTitle {
    font-size: 30px;
    font-family: "Arial Black";
    color: rebeccapurple;
    text-align: center;
    position: relative;
    height: 100%;
    align-content: center;
}
#about{
    position: relative;
    height: 100%;
    align-items: center;
}
footer{
    height: 40px;
    background-color: #8ed2c9;
    font-size: 15px;
}
#footerContent{
    padding-left: 20px;
}