<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}} </title>
    <link rel='stylesheet' href="/css/main.css">

</head>
<body>
<header class="main-header">
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li class="nav-item"><a href="/game">Halloween Hangman</a></li>
        </ul>
    </nav>
</header>
{{{ body }}}
</body>