<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel='stylesheet' href="/css/main.css">
</head>
<body>
<header class="main-header">
    <nav class="main-nav">
        <ul class="main-nav-list">
            <h2 id = "pageTitle">Harry's Hamburger Heaven</h2>
        </ul>
    </nav>
</header>
{{{body}}}
{{{home}}}
<a href="shopForm.hbs">Back to form</a>
