<div class=" d-flex flex-column " id="footer">
    <footer class="page-footer fixed-bottom font-small " style = "background-color: #14322B;
    color: #C7B8BA" >
        <p class="col-md-5 d-flex align-items-center justify-content-center ">
            Homework By Jafet Isidoro For CSC3700
        </p>
    </footer>
</div>
